/* Start Global */
p {
  line-height: 1.4;
}

ol li {
  font-weight: bold;
}

ol p {
  margin: 5px 0;
}
/* End Global */

.article h1.title {
  text-align: center;
}

.article .content {
  padding: 15px;
  border: 3px black dashed;
}

.article .content b {
  font-size: 18px;
}

.article .content ol {
  margin: 0;
  margin-top: 5px;
}

